@font-face {
    font-family: 'GeneralSans-Light';
    src: url('../fonts/GeneralSans-Light.woff2') format('woff2'),
        url('../fonts/GeneralSans-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
}
@font-face {
    font-family: 'GeneralSans-Regular';
    src: url('../fonts/GeneralSans-Regular.woff2') format('woff2'),
        url('../fonts/GeneralSans-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}
@font-face {
    font-family: 'GeneralSans-Medium';
    src: url('../fonts/GeneralSans-Medium.woff2') format('woff2'),
        url('../fonts/GeneralSans-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
}
@font-face {
    font-family: 'GeneralSans-Semibold';
    src: url('../fonts/GeneralSans-Semibold.woff2') format('woff2'),
        url('../fonts/GeneralSans-Semibold.woff') format('woff');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
}
@font-face {
    font-family: 'GeneralSans-Bold';
    src: url('../fonts/GeneralSans-Bold.woff2') format('woff2'),
        url('../fonts/GeneralSans-Bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
}

// Poly sans font
@font-face {
    font-family: 'poly_sans';
    src: url('../fonts/PolySans-Median.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'poly_sans_normal';
    src: url('../fonts/PolySans-Neutral.woff') format('woff'),
        url('../fonts/PolySans-Neutral.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// Infra font

@font-face {
    font-family: 'infrabold';
    src: url('../fonts/infrabold-webfont.woff2') format('woff2'),
        url('../fonts/infrabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'inframedium';
    src: url('../fonts/inframedium-webfont.woff2') format('woff2'),
        url('../fonts/inframedium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'infraregular';
    src: url('../fonts/infraregular-webfont.woff2') format('woff2'),
        url('../fonts/infraregular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}